<!DOCTYPE html>
<html>
    <head>
        <title>Ares Controller</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8"/>
        
        <link rel="stylesheet" href="/web/css/Controller.css" type="text/css"/>
        <link rel="stylesheet" href="/web/css/Slider.css" type="text/css"/>
    </head>
    <body>
        <div data-role="page" id="@Model.PageId">
            <div data-role="none" class="aresheader">
                <div class="aresheader2">
                    <h2>Ares Controller</h2>
                </div>
                <div class="aresheader3">
                    <img src="/web/image/gear.png" alt="Settings" onclick="showSettings('@Model.PageLink')"/>
                </div>
            </div>
            <div role="main" class="ui-content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        
        <!-- Scripts -->
        @* <script src="/web/js/jquery-2.1.1.min.js"></script> *@
        <script src="/web/vendor/js/jquery-3.3.1.js"></script>
        <script src="/web/vendor/js/popper.js"></script>
        <script src="/web/vendor/js/bootstrap.bundle.js"></script>

        <script src="/web/vendor/js/ss-utils.js"></script>
        <script src="/web/js/EventSource.js"></script>

        <script src="/web/js/Common.js"></script>
        <script src="/web/js/Control.js"></script>
        <script src="/web/js/Elements.js"></script>
        <script src="/web/js/Tags.js"></script>
        <script src="/web/js/Modes.js"></script>
        <script src="/web/js/Playlist.js"></script>
        <script src="/web/js/Projects.js"></script>
        <script src="/web/js/Settings.js"></script>
    </body>
</html>
