@inherits ServiceStack.Razor.ViewPage<Ares.Players.Web.ControlResponse>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <p class="text-center">
                <button class="btn btn-primary" onclick="stopAll()" title="Stop all"><i class="fas fa-stop"></i></button>
                <button class="btn btn-primary" onclick="back()" title="Back"><i class="fas fa-step-backward"></i></button>
                <button class="btn btn-primary" onclick="forward()" title="Forward"><i class="fas fa-step-forward"></i></button>
                <button class="btn btn-primary" onclick="repeatOn()" id="repeatButton" title="Repeat"><i class="fas fa-redo"></i></button>
            </p>
            
            <hr/>
            
            <div class="form-group">
                <label for="volume-range-overall">Overall volume</label>
                <input type="range" class="form-control-range" id="volume-range-overall" min="0" max="100" onChange="changeVolume(2, this.value)">
            </div>
         
            <div class="form-group">
                <label for="volume-range-music">Music volume</label>
                <input type="range" class="form-control-range" id="volume-range-music" min="0" max="100" onchange="changeVolume(1, this.value)">
            </div>
            
            <div class="form-group">
                <label for="volume-range-sounds">Sound volume</label>
                <input type="range" class="form-control-range" id="volume-range-sounds" min="0" max="100" onchange="changeVolume(0, this.value)">
            </div>
            
            <hr/>
            
            <p>
                <strong>Music</strong><br/>
                <span class="text-truncate"><span id="currentMusic"></span>&nbsp;</span>
            </p>
            
            <p>
                <strong>Active elements</strong><br/>
                <span class="elements" id="activeElements2"></span>
            </p>
        </div>

        <div class="col-lg-3">
            <h4>Modes</h4>

            <div id="modeSelection2" class="list-group">

            </div>

            <hr>

            <ul class="modeTriggers">
                <li class="modeTrigger">
                    <input type="button" onclick="switchToPlaylist()" class="modeButton" value="Playlist">
                </li>
            </ul>
        </div>

        <div class="col-lg-6">
            <div class="elements" id="elements">
                <h4>Elements</h4>
                
                <div class="container-fluid p-1">
                    <div class="row m-n1" id="elements-container">

                    </div>
                </div>
            </div>

            <div class="inlinePlaylist" id="inlinePlaylist">
                <h4>Current Playlist</h4>

                <ul class="playlist">
                    <span id="playlistList"></span>
                </ul>
            </div>
        </div>
    </div>
</div>
