@inherits ServiceStack.Razor.ViewPage<Ares.Players.Web.ElementsResponse>

<div class="container-fluid">
    <h4>Elements</h4>
                
    <div class="container-fluid p-1">
        <div class="row m-n1" id="elements-container">

        </div>
    </div>
</div>
