@inherits ServiceStack.Razor.ViewPage<Ares.Players.Web.PlaylistResponse>

<div class="container-fluid">
    <h4>Current Playlist</h4>

    <p>
        <strong>Music</strong><br/>
        <span class="text-truncate"><span id="currentMusic"></span>&nbsp;</span>
    </p>

    <div id="playlistList">
    </div>
</div>
