@inherits ViewPage<PlaylistResponse>

<h4>Musikliste</h4>

<table class="stateTable">
    <tr><td>Geladenes Projekt:</td> <td id="loadedProject_PL"></td><td><img src="/web/image/open.png" onmousedown="switchImg(this, '/web/image/open_pressed.png')" onmouseup="switchImg(this, '/web/image/open.png')" class="openProjectButton" onclick="getProjects()" alt="Projekt öffnen" /></td></td>
    <tr><td>Aktuelle Musik:</td> <td id="currentMusic_PL"></td><td><a href="/Tags">Tags</a></td></tr>
</table>

<p>
    <img src="/web/image/stop.png" onmousedown="switchImg(this, '/web/image/stop_pressed.png')" onmouseup="switchImg(this, '/web/image/stop.png')" class="stopButton" onclick="stopAll_PL()" alt="Stopp" />
    <img src="/web/image/back.png" onmousedown="switchImg(this, '/web/image/back_pressed.png')" onmouseup="switchImg(this, '/web/image/back.png')" class="backButton" onclick="back_PL()" alt="Zurück" />
    <img src="/web/image/forward.png" onmousedown="switchImg(this, '/web/image/forward_pressed.png')" onmouseup="switchImg(this, '/web/image/forward.png')" class="forwardButton" onclick="forward_PL()" alt="Vorwärts" />
    <img src="/web/image/repeat_off.png" onmousedown="switchImg(this, '/web/image/repeat_pressed.png')" onmouseup="switchImg(this, '/web/image/repeat_off.png')" class="repeatButtonUnchecked" onclick="repeatOn_PL()" alt="Wiederholen (aus)" id="repeatButton_PL" />
</p>

<hr />

<ul class="playlist">
    <span id="playlistList_PL"></span>
</ul>

<hr />
<p>
    <a href="/Control">Steuerung</a>   <a href="/Modes">Modi</a>   <a href="/Elements">Elemente</a>   <a href="/Tags">Tags</a>
</p>